<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title%}<title>View Book Record</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/BRMStyle.css' %}">
</head>
<body>
<div id="header">
<h1>Book ManageMent System</h1>
<div id="nav">
<a href="/BRM/view-books">View All</a>
<a href="/BRM/new-book">Add New</a>
<a href="/BRM/search-book">Search</a>
<a href="/BRM/logout">Logout</a>	
</div id="header">

<div id="hello"> <h2>Hello ,  {{username}}</h2> </div>
</div >

   
   {% block body %}<body></body>{% endblock %}
</body>

</html>